<div class="table mt-3">
	<div class="row border border-3 border-secondary rounded">
		<div class="col" *ngFor="let phase of phase_labels; let idx=index">
			<h2 class="mt-1 mb-3">{{phase}}</h2>

			<app-ff-todo-sorting-form [todo_list_count]="todo_list[idx].length"></app-ff-todo-sorting-form>

			<div class="border border-secondary rounded mt-2" *ngIf="task_count[idx]">
				<div class="mb-3">Sorting of Tasks:</div>
				<div class="mb-2">
					<select class="form-select" ng-model="task_sorting_field[idx]"
							data-toggle="tooltip" data-placement="bottom" title="Task sorting field">
						<option *ngFor="let field of taskSortingFields | keyvalue" ng-value="field.key">{{ field.value }}</option>
					</select>
				</div>
				<div class="d-flex justify-content-between">
					<div data-toggle="tooltip" data-placement="bottom" title="Task sorting direction">
						<input class="form-check-input" type="checkbox" id="task_sorting_direction"
							   *ngModel="task_sorting_direction[idx]">
						<label for="task_sorting_direction">Descending</label>
					</div>
					<button type="button" class="btn btn-warning" (click)="resetTaskSorting(idx)">Reset Task Sorting</button>
				</div>
			</div>
			<div *ngIf="todo_list[idx].length">
				<div *ngFor="let todo of todo_list[idx]">
					<app-ff-todo-card [content]="todo"
							  [tasksortfield]="task_sorting_field[idx]" [tasksortdir]="task_sorting_direction[idx]"></app-ff-todo-card>
				</div>
			</div>
			<app-ff-todo-list-empty *ngIf="!todo_list[idx].length"></app-ff-todo-list-empty>
		</div>
	</div>
</div>
<div class="d-grid gap-2 w-25 my-2" *ngIf="!readonlyTodo">
	<button type="button" class="btn btn-primary" (click)="addTodo()"
			data-toggle="tooltip" data-placement="bottom" title="Add new Todo">
		<i class="fas fa-plus"></i>
	</button>
	<button type="button" class="btn btn-danger btn-sm" (click)="removeAllTodos()"
			data-toggle="tooltip" data-placement="bottom" title="Remove all Todos"
			ngDisabled="!todo_count">
		<i class="fas fa-broom"></i>
	</button>
</div>