<div class="border border border-3 border-secondary rounded p-2" *ngIf="todo_list_count || submitted">
    <h4 class="mb-3">Searching of Todos:</h4>
    <div class="form-group">
        <div class="mb-2">
            <label for="todo_searching_field">Field:</label>
            <select class="form-select form-control" [(ngModel)]="todosearchfield" name="term" id="todo_searching_field"
                    data-toggle="tooltip" data-placement="bottom" title="Todo searching field">
                <option *ngFor="let field of todoSearchingFields" [value]="field.name">{{ field.display }}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="d-flex justify-content-between">
            <div data-toggle="tooltip" data-placement="bottom" title="Todo searching term">
                <label for="todo_searching_term">Search for:</label>
                <input class="form-text-input form-control" type="text" id="todo_searching_term"
                        [(ngModel)]="todosearchterm" name="field">
            </div>
            <div data-toggle="tooltip" data-placement="bottom" title="Toggle case sensitive">
                <input class="form-check-input" type="checkbox" id="todo_search_casesense"
                        [(ngModel)]="todosearchcase" name="casesense" (click)="todosearchcaseChange.emit(todosearchcase)">
                <label for="todo_search_casesense">Case sensitive</label>
            </div>
            <div>
                <button type="button" class="btn btn-primary" (click)="updateSubmitState(true)">Search</button>
                <button type="button" class="btn btn-warning" (click)="updateSubmitState(false)">Reset</button>
            </div>
        </div>
    </div>
</div>