<footer class="container">
    <!-- Footer -->
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="d-flex justify-content-between w-100">
            <div>Messages</div>
            <div>
                <button type="button" class="btn btn-danger" (click)="clearAlertList()" [disabled]="isAlertListEmpty()"
                        data-toggle="tooltip" data-placement="bottom" title="Clear alert list">
                    <i class="fas fa-broom"></i>
                </button>
                <button type="button" class="btn btn-secondary" (click)="toolbar.toggle()"
                        data-toggle="tooltip" data-placement="bottom" title="Toggle footer">
                    <i *ngIf="!footer_collapse_status" class="fas fa-chevron-down"></i>
                    <i *ngIf="footer_collapse_status" class="fas fa-chevron-up"></i>
                </button>
            </div>
        </div>
        <div class="border border-primary rounded w-100 mt-1" #toolbar="ngbCollapse" [(ngbCollapse)]="footer_collapse_status">
            <app-ff-todo-alert-list></app-ff-todo-alert-list>
        </div>
    </nav>
</footer>