<div>
    <app-ff-todo-generic-task-form #editTaskForm [mode]="EDIT_TASK" [todoId]="todoId" [(model)]="taskSelected"
            [preparingFormEvent]="prepareEditTaskFormTrigger.asObservable()" (submitDataEvent)="updateTask($event)">
    </app-ff-todo-generic-task-form>
    <app-ff-todo-generic-task-form #removeTaskForm [mode]="REMOVE_TASK" [todoId]="todoId" [(model)]="taskSelected"
            [preparingFormEvent]="prepareRemoveTaskFormTrigger.asObservable()" (submitDataEvent)="removeTask($event)">
    </app-ff-todo-generic-task-form>
</div>
<div class="mt-1" #taskList="ngbCollapse" [(ngbCollapse)]="tasklist_collapse_status">
    <ul class="list-group border border-primary"
            data-toggle="tooltip" data-placement="bottom" title="Task list" *ngIf="tasks">
        <li class="list-group-item" *ngFor="let task of tasks | tszSort:tasksortexec:tasksortfield:tasksortdir">
            <div>
                <div class="d-flex justify-content-start">
                    <div class="btn-group mx-1" *ngIf="!readonlyTask">
                        <button type="button" class="btn btn-primary btn-sm text-end" (click)="prepareEditTaskForm(task)"
                                data-toggle="tooltip" data-placement="bottom" title="View Task details">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm text-end" (click)="prepareRemoveTaskForm(task)"
                                data-toggle="tooltip" data-placement="bottom" title="Remove Task">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                    <div class="form-check mx-2">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="task.done"
                                data-toggle="tooltip" data-placement="bottom" title="Check Task"
                                (click)="checkTask(task)" [disabled]="readonlyTask" id="task_name">
                        <label class="form-check-label" for="task_name">
                            <span class="text-muted mr-1" data-toggle="tooltip" data-placement="bottom" title="Task ID">
                                ({{ task.id }})
                            </span>
                            <span class="text-truncate" data-toggle="tooltip" data-placement="bottom" title="{{ task.name }}" [innerHTML]="highlightedNames.get(task.id)">
                                {{ task.name }}
                            </span>
                        </label>
                    </div>
                    <div *ngIf="task.deadline" data-toggle="tooltip" data-placement="bottom" title="This Task is due to {{ getTaskDeadline(task) | date:displayDateFormat }}.">
                        <i class="far fa-calendar-alt"></i>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item" *ngIf="!taskCount">
            <app-ff-todo-task-list-empty></app-ff-todo-task-list-empty>
        </li>
        <li class="list-group-item border border-primary" *ngIf="isTaskCountShown()">
            <p class="card-text">Task count: {{ taskCount }}</p>
        </li>
    </ul>
</div>
<div class="d-flex justify-content-end my-3">
    <div class="mx-1" *ngIf="taskCount">
        <span>Checked Task count:&nbsp;</span>
        <span class="badge badge-pill bg-secondary">{{ taskChecked }} / {{ taskCount }}</span>
    </div>
    <button class="btn btn-sm btn-secondary" type="button" (click)="taskList.toggle()"
            data-toggle="tooltip" data-placement="bottom" title="Toggle Task list" *ngIf="!readonly">
        <i *ngIf="!tasklist_collapse_status" class="fas fa-folder-minus"></i>
        <i *ngIf="tasklist_collapse_status" class="fas fa-folder-plus"></i>
    </button>
</div>