<div class="container">
	<div>
		<app-ff-todo-generic-todo-form #viewTodoForm [mode]="VIEW_TODO" [(model)]="todoSelected"
				[preparingFormEvent]="prepareViewTodoFormTrigger.asObservable()">
		</app-ff-todo-generic-todo-form>
		<app-ff-todo-generic-todo-form #removeTodoForm [mode]="REMOVE_TODO" [(model)]="todoSelected"
				[preparingFormEvent]="prepareRemoveTodoFormTrigger.asObservable()" (submitDataEvent)="removeTodo($event)">
		</app-ff-todo-generic-todo-form>
    </div>
    <div *ngIf="getTodoListSize()">
        <ng-container *ngIf="(todoList | tszSort:todoSortExec:todoSortField:todoSortDir) as searchres">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let todo of searchres">
                    <div class="d-flex justify-content-between">
                        <div class="text-truncate">
                            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Jump to Todo with ID {{ todo.id }}"
                                    [routerLink]="['/list-todos']" [queryParams]="{id:todo.boardId}" fragment="todo_{{ todo.id }}">
                                <i class="fas fa-share"></i>
                            </button>
                            <span class="ml-1 text-muted" *ngIf="todo.boardId"
                                data-toggle="tooltip" data-placement="bottom" title="Board ID of Todo">{{ todo.boardId }}</span>
                            <span class="ml-1 text-danger" *ngIf="!todo.boardId">missing board ID</span>
                            <span class="ml-3 text-muted" data-toggle="tooltip" data-placement="bottom" title="Todo ID">{{ todo.id }}</span>
                            <span class="ml-1 mr-5" data-toggle="tooltip" data-placement="bottom" title="{{ todo.name }}">{{ todo.name }}</span>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm text-end" (click)="prepareViewTodoForm(todo)"
                                    data-toggle="tooltip" data-placement="top" title="View Todo">
                                <i class="far fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm text-end" (click)="prepareRemoveTodoForm(todo)"
                                    data-toggle="tooltip" data-placement="top" title="Remove Todo">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </ng-container>
    </div>
    <div *ngIf="!getTodoListSize()">
        <div *ngIf="!todoQueryFinished">
            Loading Todos...
        </div>
        <div *ngIf="todoQueryFinished">
            <div class="text-muted user-select-none" *ngIf="todoQuerySuccess">
                There are no Todos.
            </div>
            <div class="text-danger user-select-none" *ngIf="!todoQuerySuccess">
                <div>Cannot query Todo list.</div>
                <small>Reason: {{ dumpErrorMessage }}</small>
            </div>
        </div>
    </div>
</div>
