<div *ngIf="!todoQueryFinished || !todoQueryFinished"
        [ngClass]="{'border-info': !todoQueryFinished, 'border-danger': todoQueryFinished && !todoQuerySuccess,
        'border rounded text-muted text-center': true}">

    <div class="user-select-none" *ngIf="!todoQueryFinished">
        <div class="display-3 fa-3x">
            <i class="fas fa-sync fa-spin"></i>
        </div>
        <p class="mt-3 text-info">Loading Todos...</p>
    </div>

    <div *ngIf="todoQueryFinished && !todoQuerySuccess">
        <div class="mt-3 text-danger">
            <div class="user-select-none">Cannot query Todo list</div>
            <small>
                <span class="user-select-none">Reason:&nbsp;</span>
                <span>{{ message }}</span>
            </small>
        </div>
        <div class="display-1 text-danger user-select-none">
            <i class="far fa-folder-open"></i>
            <i class="fas fa-exclamation"></i>
        </div>
    </div>
</div>