<div *ngIf="content.length">
    <div *ngFor="let todo of content | tszSort:todosortfield:todosortdir | tszSearch:todosearchexec:todosearchterm:todosearchfield">
        <app-ff-todo-card [content]="todo" [readonlyTodo]="readonlyTodo" [readonlyTask]="readonlyTask" [phaseNum]="phaseNum"
                [tasksortfield]="tasksortfield" [tasksortdir]="tasksortdir" [customDateFormat]="customDateFormat"
                (editTodoEvent)="editTodoEvent.emit($event)" (removeTodoEvent)="removeTodoEvent.emit($event)"
                (shiftLeftTodoEvent)="shiftLeftTodoEvent.emit($event)" (shiftRightTodoEvent)="shiftRightTodoEvent.emit($event)"
                (addTaskEvent)="addTaskEvent.emit($event)" (editTaskEvent)="editTaskEvent.emit($event)"
                (checkTaskEvent)="checkTaskEvent.emit($event)" (removeTaskEvent)="removeTaskEvent.emit($event)"
                (removeAllTasksEvent)="removeAllTasksEvent.emit($event)">
        </app-ff-todo-card>
    </div>
</div>
<app-ff-todo-list-empty *ngIf="!content.length"></app-ff-todo-list-empty>