<div *ngIf="content.length">
    <div *ngFor="let todo of content | tszSort:todosortexec:todosortfield:todosortdir | tszSearch:todoSearchingCaseSense:todoSearchRules:todoSearchingHighlight as searchres">
        <app-ff-todo-card [content]="todo" [readonlyTodo]="readonlyTodo" [readonlyTask]="readonlyTask" [phaseNum]="phaseNum"
                [showDescriptionLength]="showDescriptionLength" [showDateCreated]="showDateCreated" [showTaskCount]="showTaskCount"
                [tasksortexec]="tasksortexec" [tasksortfield]="tasksortfield" [tasksortdir]="tasksortdir" [displayDateFormat]="displayDateFormat"
                (editTodoEvent)="editTodoEvent.emit($event)" (cloneTodoEvent)="cloneTodoEvent.emit($event)"
                (removeTodoEvent)="removeTodoEvent.emit($event)"
                (shiftLeftTodoEvent)="shiftLeftTodoEvent.emit($event)" (shiftRightTodoEvent)="shiftRightTodoEvent.emit($event)"
                (addTaskEvent)="addTaskEvent.emit($event)" (editTaskEvent)="editTaskEvent.emit($event)"
                (checkTaskEvent)="checkTaskEvent.emit($event)" (removeTaskEvent)="removeTaskEvent.emit($event)"
                (removeAllTasksEvent)="removeAllTasksEvent.emit($event)"
                [searchresCount]="searchres.length" (searchresCountUpdate)="searchresCount = $event">
        </app-ff-todo-card>
    </div>
</div>
<app-ff-todo-list-empty *ngIf="!content.length" [todoQuerySuccess]="todoQuerySuccess"></app-ff-todo-list-empty>
<app-ff-todo-search-no-results *ngIf="content.length && !searchresCount"></app-ff-todo-search-no-results>