<ng-template #sortTodoForm let-modal>
    <div class="modal-header">
        <h5 class="mb-3">Sorting of Todos in '{{ getTodoPhaseLabel() }}' phase</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Closed by cross')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <div class="mb-2">
                <select class="form-select form-control" [(ngModel)]="todosortfield" name="field"
                        data-toggle="tooltip" data-placement="bottom" title="Todo sorting field">
                    <option *ngFor="let field of todoSortingFields" [value]="field.name"
                            (click)="todosortfieldChange.emit(todosortfield)">{{ field.display }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-end">
                <div data-toggle="tooltip" data-placement="bottom" title="Todo sorting direction">
                    <input class="form-check-input" type="checkbox" id="todo_sorting_direction"
                            [(ngModel)]="todosortdir" name="direction" (click)="todosortdirChange.emit(!todosortdir)">
                    <label for="todo_sorting_direction">Descending</label>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-warning" (click)="resetTodoSorting()">Reset</button>
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Closed by button click')">Close</button>
        </div>
    </div>
</ng-template>