<div class="container">
    <div>
        <app-ff-todo-generic-task-form #viewTaskForm [mode]="VIEW_TASK" [(model)]="taskSelected"
                [preparingFormEvent]="prepareViewTaskFormTrigger.asObservable()">
        </app-ff-todo-generic-task-form>
        <app-ff-todo-generic-task-form #removeTaskForm [mode]="REMOVE_TASK" [(model)]="taskSelected"
                [preparingFormEvent]="prepareRemoveTaskFormTrigger.asObservable()" (submitDataEvent)="removeTask($event)">
        </app-ff-todo-generic-task-form>
    </div>
    <div *ngIf="getTaskListSize()">
        <h1>Index of Tasks</h1>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let task of taskList">
                <div class="d-flex justify-content-between">
                    <div>
                        <button type="button" class="btn btn-primary"
                                [routerLink]="['/list-todos']" [queryParams]="{id:getTaskGrandparent(task)}" fragment="todo_{{ task.todoId }}">
                            <i class="fas fa-share"></i>
                        </button>
                        <span class="ml-2 text-muted" *ngIf="hasTaskGrandparent(task)">{{ getTaskGrandparent(task) }}</span>
                        <span class="ml-2 text-danger" *ngIf="!hasTaskGrandparent(task)">missing board ID</span>
                        <span class="ml-2 text-muted" *ngIf="task.todoId">{{ task.todoId }}</span>
                        <span class="ml-2 text-danger" *ngIf="!task.todoId">missing todo ID</span>
                        <span class="ml-2 text-muted">{{ task.id }}</span>
                        <span class="ml-1 mr-5">{{ task.name }}</span>               
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary btn-sm text-end" (click)="prepareViewTaskForm(task)"
                                data-toggle="tooltip" data-placement="top" title="View Task">
                            <i class="far fa-eye"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm text-end" (click)="prepareRemoveTaskForm(task)"
                                data-toggle="tooltip" data-placement="top" title="Remove Task">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div *ngIf="!getTaskListSize()">
        <div *ngIf="!taskQueryFinished">
            Loading Tasks...
        </div>
        <div *ngIf="taskQueryFinished">
            <div class="text-muted user-select-none" *ngIf="taskQuerySuccess">
                There are no Tasks.
            </div>
            <div class="text-danger user-select-none" *ngIf="!taskQuerySuccess">
                <div>Cannot query Task list.</div>
                <small>Reason: {{ dumpErrorMessage }}</small>
            </div>
        </div>
    </div>
</div>
