<div class="container">
    <div *ngIf="getBoardListSize()">
        <h1>Board list</h1>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let field of iterateBoardList()">
                <button type="button" class="btn btn-primary"
                        [routerLink]="['/list-todos']" [queryParams]="{id:field}">
                    <i class="fas fa-share"></i>
                </button>
                <span class="mx-1 text-muted">{{ field }}</span>
                <span>{{ getBoardName(field) }}</span>
            </li>
        </ul>
    </div>
    <div *ngIf="!getBoardListSize()">
        <div *ngIf="!boardQueryFinished">
            Loading Boards...
        </div>
        <div *ngIf="boardQueryFinished">
            <div class="text-muted" *ngIf="boardQuerySuccess">
                There are no Boards.
            </div>
            <div class="text-danger" *ngIf="!boardQuerySuccess">
                <div>Cannot query Board list.</div>
                <small>Reason: {{ dumpErrorMessage }}</small>
            </div>
        </div>
    </div>
</div>