<div class="container">
    <div *ngIf="getBoardListSize()">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let field of iterateBoardList()">
                <button type="button" class="btn btn-primary"
                        [routerLink]="['/list-todos']" [queryParams]="{id:field}">
                    <i class="fas fa-share"></i>
                </button>
                <span class="mx-1 text-muted">{{ field }}</span>
                <span>{{ getBoardName(field) }}</span>
            </li>
        </ul>
    </div>
    <div *ngIf="!getBoardListSize() || (backendRefreshStatus == BACKEND_QUERY_STANDBY)">
        <div *ngIf="(backendRefreshStatus == BACKEND_QUERY_INPROGRESS)">
            Loading Boards...
        </div>
        <div class="text-muted user-select-none" *ngIf="(backendRefreshStatus == BACKEND_QUERY_SUCCESS)">
            There are no Boards.
        </div>
        <div class="text-danger user-select-none" *ngIf="(backendRefreshStatus == BACKEND_QUERY_FAILURE)">
            <div>Cannot query Board list.</div>
            <small>Reason: {{ dumpErrorMessage }}</small>
        </div>
    </div>
</div>