<div class="container border border-secondary rounded" *ngIf="shown">
<!-- ><ng-template let-modal id="{{ formId }}"><-->
    <div class="modal-header">
        <h1 class="modal-title" id="{{ formId }}-title">{{ formTitle }}</h1>
        <button type="button" class="close" aria-label="Close" (click)="dismissForm()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div *ngIf="isOperatorIncluded(ADD,EDIT)">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="model.name" name="name"
                            (keyup.enter)="submitForm()" #name="ngModel" required tszfocus>
                    <div [hidden]="name.valid || name.pristine"
                        class="alert alert-danger">
                        Name is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" [(ngModel)]="model.description" name="description">
                </div>

                <div class="form-group">
                    <div>
                        <label for="phase">Todo phase:</label>
                    </div>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup id="phase" [(ngModel)]="model.phase"
                            name="phase" #phase="ngModel" required>
                        <label ngbButtonLabel class="btn-primary" *ngFor="let phase of phase_labels; let idx=index">
                            <input ngbButton type="radio" [value]="idx">{{ phase }}
                        </label>
                    </div>
                    <!-- >
                    <select class="form-control" id="phase" [(ngModel)]="model.phase" name="phase" #phase="ngModel" required>
                    <option *ngFor="let phase of phase_labels; let idx=index" [value]="idx">{{ phase }}</option>
                    </select>
                    <-->
                    <div [hidden]="phase.valid || phase.pristine" class="alert alert-danger">
                        Phase is required
                    </div>
                </div>

                <div class="form-group d-flex justify-content-between">
                    <div>
                        <label for="deadline">Deadline</label>
                        <input type="datetime-local" class="form-control" id="deadline" [value]="model.deadline | date:inputDateFormat">
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" (click)="updateDeadline()">Update</button>
                        <button type="button" class="btn btn-secondary" (click)="revertDeadline()">Revert</button>
                    </div>                        
                </div>
            </form>
        </div>
        <div *ngIf="isOperatorIncluded(REMOVE,REMOVE_ALL)">
            <div class="modal-text">{{ confirmMessage }}</div>
        </div>
    </div>

    <div class="modal-footer">
        <div *ngIf="isOperatorIncluded(ADD,EDIT)">
            <button type="button" class="btn btn-primary" (click)="submitForm()">Submit</button>
            <button type="button" class="btn btn-secondary" (click)="dismissForm()">Close</button>
        </div>
        <div *ngIf="isOperatorIncluded(REMOVE,REMOVE_ALL)">
            <button type="button" class="btn btn-danger" (click)="submitForm()">{{ confirmButtonCaption }}</button>
            <button type="button" class="btn btn-secondary" (click)="dismissForm()">Cancel</button>
        </div>
    </div>

    <div *ngIf="!isOperatorIncluded(ADD,EDIT,REMOVE,REMOVE_ALL)">
        <app-ff-todo-form-invalid></app-ff-todo-form-invalid>
    </div>
<!-- ></ng-template><-->
</div>