<!-- Toolbar -->
<div>
  <app-ff-todo-generic-board-form #addBoardForm [mode]="ADD_BOARD"
      [preparingFormEvent]="prepareAddBoardFormTrigger.asObservable()" (submitDataEvent)="addBoard($event)">
  </app-ff-todo-generic-board-form>

  <app-ff-todo-generic-todo-form #addTodoForm [mode]="ADD_TODO"
      [preparingFormEvent]="prepareAddTodoFormTrigger.asObservable()" (submitDataEvent)="addTodo($event)">
  </app-ff-todo-generic-todo-form>
  <app-ff-todo-generic-todo-form #removeAllTodosForm [mode]="REMOVE_ALL_TODOS"
      [preparingFormEvent]="prepareRemoveAllTodosFormTrigger.asObservable()" (submitEvent)="removeAllTodos()">
  </app-ff-todo-generic-todo-form>

  <app-ff-todo-searching-form [todo_list_count]="todoCount" [preparingFormEvent]="prepareSearchTodoFormTrigger.asObservable()"
      [resetFormEvent]="resetSearchTodoFormTrigger.asObservable()">
  </app-ff-todo-searching-form>
</div>
<nav class="navbar fixed-top navbar-light bg-light">
  <div class="d-flex flex-column w-100 border border-2 border-primary rounded p-1">
    <div class="d-flex justify-content-between">
        <div>
          <img
            width="40"
            alt="Angular Logo"
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
          />
          <span>Welcome to {{title}}</span>
        </div>

        <div>
          <button type="button" class="btn btn-secondary" (click)="toolbar.toggle()"
              data-toggle="tooltip" data-placement="bottom" title="Toggle header toolbar">
            <i *ngIf="!toolbar_collapse_status" class="fas fa-chevron-up"></i>
            <i *ngIf="toolbar_collapse_status" class="fas fa-chevron-down"></i>
          </button>
        </div>
    </div>

    <div class="btn-group-vertical" #toolbar="ngbCollapse" [(ngbCollapse)]="toolbar_collapse_status">
      <div class="btn-group">
        <button type="button" class="btn btn-primary w-25" (click)="prepareAddBoardForm()"
            data-toggle="tooltip" data-placement="bottom" title="Add new Board">
          <i class="fas fa-plus"></i>&nbsp;Board
        </button>
        <button type="button" class="btn btn-warning w-25" (click)="updateBoardList()" [disabled]="isRoutedToTodoList"
            data-toggle="tooltip" data-placement="bottom" title="Refresh Boards">
          <i class="fas fa-sync-alt"></i>&nbsp;Boards
        </button>
        <button type="button" class="btn btn-warning w-25" (click)="updateSelectedBoard()"
            [routerLink]="['/list-todos']" [queryParams]="{id: boardSelected}"
            data-toggle="tooltip" data-placement="bottom" title="Refresh Board"
            [disabled]="!isRoutedToTodoList || !boardSelected">
          <i class="fas fa-sync-alt"></i>&nbsp;Board
        </button>
        <button type="button" class="btn btn-secondary w-25" [routerLink]="['']" [disabled]="!isRoutedToTodoList"
            data-toggle="tooltip" data-placement="bottom" title="Return to Board list">
            <i class="fas fa-home"></i>&nbsp;
        </button>
      </div>
      <div class="btn-group" *ngIf="isRoutedToTodoList">
        <button type="button" class="btn btn-primary w-25" (click)="prepareAddTodoForm()" [disabled]="readonlyTodo || isTodoSearchExec()"
            data-toggle="tooltip" data-placement="bottom" title="Add new Todo">
          <i class="fas fa-plus"></i>&nbsp;Todo
        </button>
        <button type="button" class="btn btn-danger w-25" (click)="prepareRemovingAllTodos()" [disabled]="readonlyTodo || isTodoSearchExec()"
            data-toggle="tooltip" data-placement="bottom" title="Remove all Todos"
            [disabled]="!todoCount">
          <i class="fas fa-broom"></i>&nbsp;Todos
        </button>
        <button type="button" class="btn btn-warning w-25" (click)="refreshTodoList()"
            data-toggle="tooltip" data-placement="bottom" title="Refresh Todo list"
            [disabled]="!todoCount">
            <i class="fas fa-sync-alt"></i>&nbsp;Todos
        </button>
        <button type="button" class="btn btn-warning w-25" (click)="restoreTodoList()" [disabled]="!enableRestoreTodos"
            data-toggle="tooltip" data-placement="bottom" title="Restore Todo list">
            <i class="fas fa-trash-restore-alt"></i>&nbsp;Todos
        </button>
      </div>
      <div class="btn-group" *ngIf="isRoutedToTodoList">
        <button type="button" class="btn btn-warning w-25" (click)="updateReadonlyTodo()">
          <span *ngIf="readonlyTodo"><i class="fas fa-lock"></i></span>
          <span *ngIf="!readonlyTodo"><i class="fas fa-unlock"></i></span>
          &nbsp;Todos
        </button>
        <button type="button" class="btn btn-warning w-25" (click)="updateReadonlyTask()">
          <span *ngIf="readonlyTask"><i class="fas fa-lock"></i></span>
          <span *ngIf="!readonlyTask"><i class="fas fa-unlock"></i></span>
          &nbsp;Tasks
        </button>
        <button type="button" class="btn btn-primary w-25" (click)="prepareSearchTodoForm()" [disabled]="!todoCount"
            data-toggle="tooltip" data-placement="bottom" title="Search Todos">
          <i class="fas fa-search"></i>&nbsp;Todos
        </button>
        <button type="button" class="btn btn-warning w-25" (click)="resetTodoSearching()" [disabled]="!todoCount || !isTodoSearchExec()"
            data-toggle="tooltip" data-placement="bottom" title="Reset Todo searching">
          <div class="d-flex justify-content-center">
            <i class="fas fa-sync-alt"></i>
            <i class="fas fa-search"></i>
            &nbsp;
            <span>Todos</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</nav>